table {
  border-collapse: collapse;
}
td, th {
  border: solid black 1px;
  padding: 4px;
  width: fit-content;
}
tr:nth-child(even) {
  background-color: lightgray;
}
thead {
  background-color: grey;
}
