table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
td, th {
  border: solid black 1px;
  padding: 4px;
  width: fit-content;
}
tr:nth-child(even) {
  background-color: lightgray;
}
thead {
  background-color: grey;
}
nav {
  text-align: right;
}
header h1 {
  text-align: center;
}
#total {
  text-align: right;
  font-weight: bold;
}
